service: products-api

provider:
  name: aws
  runtime: nodejs20.x
  region: us-east-1
  stage: prod
  environment:
    NODE_ENV: production
    DB_ENGINE: 'postgres'
    OPENAI_API_KEY: ''
    POSTGRES_DATABASE_URL: ''

functions:
  app:
    handler: lambda.handler
    events:
      - httpApi: '*'