service: products-api

provider:
  name: aws
  runtime: nodejs20.x
  region: us-east-1
  stage: prod
  environment:
    NODE_ENV: production

functions:
  app:
    handler: lambda.handler
    events:
      - httpApi: '*'